.add-btn {
  border-radius: 25px;
  border:none;
  color:white;
  font-weight:bold;
  background-color:red;
  padding:0.25em 1.5em;
}
#item-5 {
  grid-area: e;
  min-width: 0;
}
#item-4 {
  grid-area:d;
}
#item-5 {
  grid-area:e;
}#item-6 {
  grid-area:f;
}
 #item-7 {
   grid-area:g;
 }
// Increase-decrease button
.inc-dec {
  border:none;
  font-weight:bold;
  text-align:center;
  &:hover {
    cursor:pointer;
    color:white;
  }
  border-radius:2px;
 }

#inc {
  background:red;
}
#dec {
  background: #299ee0;
}